<!DOCTYPE html>
<html>
<head>
    <title>
        GOA-s official page

    </title>
</head>
<body style="background-color: red; font-size: xx-large;">
    <h1>GOAL orrianted academy</h1>

    <p>goal orrianted academy is the best place where you can learn proggraming</p>
    <img width="200" src="th (5).jpg" >

    <p>if you are parent goa orrianted academy is best choice for your children</p>

    <p>if you want to learn more about us please click link below</p>

    

    
     <a href="About.Us.html" >About us</a>
     <a href="Contact.Us.html">Contact us</a>

    </body>
</html>
        