body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  .hidden {
    display: none;
  }
  #game-container {
    margin-top: 20px;
  }
  input[type="color"] {
    margin: 10px;
    padding: 5px;
  }
  input[type="number"] {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
  }
  button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
  }
  button:hover {
    background-color: #2980b9;
  }